* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

.main{
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 15px 80px;
  border-radius: 5px;
  box-shadow: 5px 5px 80px -20px rgba(85,172,238 ,0.5); 
  min-height: 1vh;
}

.search-li{
  margin-left: auto;
}

ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

/* .glyphicon-log-in{
  font-size: 40px;
} */

.pantryBody{
  margin: 5vh;
}

.nav-bar{
  display: flex;
  width: 100%;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  /* box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1); */
}
.nav-bar li:hover{
  color: rgba(85,172,238 ,1);
}

.nav-bar li:not(:last-child) {
  margin-right: 10px;
}

/* .filters{
  display: flex;
} */

.search-navbar::placeholder{
  color: black;
}

.search-navbar{
  border-radius: 100px;
  color: black;
  padding-left: 15px;
}

.search-navbar:focus{
  outline-style: none;
  
}

.logout-text{
  display: none;
  cursor: pointer;
  font-size: 23px;
}

.glyphicon-log-in{
  display: flex;
  font-size: 20px;
  padding-bottom: 7px;
  cursor: pointer;
}

.logout-li:hover .logout-text{
  display: flex;
  cursor: pointer;
}

.logout-li:hover .glyphicon-log-in{
  display: none;
  cursor: pointer;
  padding: 0;
}

/* .search-navbar{
  margin-left: auto;
  max-height: 30px;
  min-width: 200px;
} */

.page{
    width: 100%;
    margin: 0 auto;
}

.pageBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;  
    background-image: url('../Assets/Pantry.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.pageBackground::after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
}

.form-wrapper{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    max-height: 98vh;
    margin: 1vh;
    /* border: none; */
    background: #0000004b;
    border: 1px solid white;
    /* background: linear-gradient(to top, #7579ff, #b224ef); */
 } 

    .form {
      width: 100%;
    }
  
  .form-logo {
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
  }

  .material-icons{
    font-size: 60px;
  }
  
  .form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .inputDiv{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .input{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 45px;
    background: rgba(200, 200, 200, 0.01);
    border: 1px solid white;
    padding: 0px;
    padding-left: 15px;
  }

  .buttonDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn{
    font-family: Poppins-Medium;
    font-size: 16px;
    color: white;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    /* background: lightblue; */
    /* background: linear-gradient(to bottom, #7579ff, #b224ef);  */
    position: relative;
    z-index: 1;
    transition: all 0.4s;
  }

  .btn::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #0000002e;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.4s;
  }

  .btn:hover{
    color: white;
    background: #94949411;
  }

  .btn:hover:before{
    opacity: 0;
  }
/* 
  input:focus {
    border-color: transparent !important;
  } */

  .ref {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
    cursor: pointer;
  }

  .text-center{
    text-align: center;
    margin-top: 5%;
  }

  .homepage-container{
    color: white;
    text-shadow: 3px 3px #080808;
  }

  .homepage-main-text{
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    letter-spacing: 0.08em;
  }

  .homepage-sub-text{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0px;
  }

  .homepage-button-div{
    display: flex;
    justify-content: center;
  }

  .homepage-btn{
    margin-left: 2%;
    margin-right: 2%;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    position: relative;
    z-index: 1;
  }

  .login-btn{
    background: #0000002e;
    text-transform: uppercase;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
  }

  .login-btn:hover{
    background-color: #0000000c
  }

  .sign-up-btn{
    background: #0000002e;
    text-transform: uppercase;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
  }

  .sign-up-btn:hover{
    background-color: #0000000c;
  }

  @media (max-width: 576px) {
    .form-wrapper {
      padding: 55px 15px 37px 15px;
    }
  }

  /* .page{
    height: 100vh;
    width: 100vw;
    background-image: url('../Assets/Pantry.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
  }


  .pageBackground{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
  }

  .form-wrapper{
    width: 100%;
    background-color: yellow;
    padding: 5%;
  }

  .login-form-title{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .circle{
     height: 120px;
     width: 120px;
     justify-content: center;
     border-radius: 50%;
     background-color: white;


     font-size: 60px; 
     color: #333333;
     display: flex;
     align-items: center;
     margin: 0 auto;
     vertical-align: middle;
  }

  .inputDiv{
    width: 100%;
  }

  .input{
    width: 100%;
  } */